.container {
    background-color: white;
  }
  
  h1 {
    font-size: larger;
    color: rgb(14, 17, 19);
  }
  
  h2 {
    font-size: larger;
    color: rgb(97, 14, 122);
  }
  
  h3 {
    font-size: medium;
    color: rgb(14, 17, 19);
  }
  
  p {
    font-size: small;
    color: rgb(14, 17, 19);
  }
  
  label {
    font-size: small;
    color: rgb(14, 17, 19);
  }
  

.nav-logo {
  width: 200px;
}


.seasons-title {
  color: rgb(68, 11, 122);
  font-weight: 600;
  margin-top: 16px;
}

.seasons-main-title {
  color: rgb(68, 11, 122);
}

.about-main-title {
  color: rgb(68, 11, 122);
}

.contact-main-title {
  color: rgb(68, 11, 122);
}

.main-actors-main-title {
  color: rgb(68, 11, 122);
}

.main-actors-titles {
  color: rgb(68, 11, 122);
}

.watch-main-title {
  color: rgb(68, 11, 122);
}

.watch-main-title {
  color: rgb(68, 11, 122);
}
