.contact-inpùt {
    border-radius: 24px;
    background-color: grey;
    color: aliceblue;
  }
  
  .contact-button {
    border-radius: 8px;
    background-color: goldenrod;
    color: black;
  }

  .contact-img {
    width: 450px;
    height: 300px;
  }